<h3 class="rightBar"><%= anime.escape("title") %></h3>

<% var form = JST['list_item/detail_form'] %>
<%= form({ anime: anime })%>

  <div class="fillWidthLeft cf submitDiv"><span class="floatRight">
    <input type="submit" value="Add to List">
  </span></div>
</form>
