<div>
<div class="container">
  <div class="left_bar">
    <div class="search_box"></div>
    <div class="search_results"></div>
  </div>
  <div class="right_bar"></div>
</div>
<div>
  <p>
    Can't find what you're looking for? You can
    <a class="databaseAdd" href="../anime/new">add it to the Database.</a>
  </p>
</div>
</div>