<thead>
  <tr>
    <th class="num">#</th>
    <th class="left title"><a href="javascript:void(0)" class="headTitle">Title</a></th>
    <th class="rating"><a href="javascript:void(0)" class="headRating">Rating</a></th>
    <th class="type"><a href="javascript:void(0)" class="headType">Type</a></th>
    <th class="progress"><a href="javascript:void(0)" class="headProgress">Progress</a></th>
    <th class="left comment"><a href="javascript:void(0)" class="headComment">Comment</a></th>
  </tr>
</thead>
