<!-- app/views/users/new -->
<h1>Sign Up:</h1>


<form method="post" action="<%= users_url %>">
  <%= render "shared/user_form" %><tr><td>
  <label for="user_email">Email:</label></td><td>
  <input type="text" id="user_email" name="user[email]"
   value="<%= @user.try(:email) %>"></td></tr>
  <tr><td></td><td><input style="float: right" type="submit" value="Create User"></td></tr></table>
</form>

<p>Already have an account? <%= link_to "Sign In.", new_session_url %></p>