<div class="container">

<form>
  <%= JST['anime/form']({anime: anime}) %>
  <div class="fillWidthLeft"><span class="floatRight">
    <input type="submit" value="Edit Anime">
  </span></div>
</form>

</div>