/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

a{
  color: #6677ff;
  text-decoration: none;
}

body, div.popUpDialog{
  background-color: black;
  color: #E0E0E0 !important;
  font-size: 11.0px;
  font-family: Verdana, Arial;
}

table.listTable{
  border-collapse: collapse;
}

table.listTable tr th{
  padding: 2px;
  padding-left: 6px;
}

table.listTable tr td{
  border: 1px solid black;
  padding: 2px;
  padding-left: 6px;
}

tr.color1{
  background-color: #1e1e1e;
}

tr.color2{
  background-color: #323232;
}

.listTable td{
  text-align: center;
}

td.left, th.left{
  text-align: left;
}

.progressForm, .ratingForm{
  display: inline;
}

.progressInput, .ratingInput{
  width: 22px;
  display: inline;
}

.commentInput{
  width: 290px;
  display: center;
}

h4{
  font-size: medium;
}

th.title{
  max-width: 500px;
  width: 50%;
}

th.type{
  width: 50px;
}

th.comment{
  max-width: 300px;
  width: 30%;
}

th.num{
  width: 30px;
}

th.rating{
  width: 45px;
}

th.progress{
  width: 70px;
}

div.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 14px;
}

div.left_bar{
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  width: 45%;
  height: 100%;
}

div.right_bar{
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  margin-left: 20px;
  width: 50%;
  height: 100%;
}

div.search_box{
  width: 100%;
}

div.search_results{
  width: 100%;
}

div.search_box label{
  float: left;
  /*margin-top: 2px;
  margin-left: 2px;*/
}

div.search_box span{
  display: block;
  overflow: hidden;
  padding-left: 10px;
}

div.search_box input{
  width: 100%;
}

div.fillWidthLeft{
  margin: 10px;
}

.floatRight{
  float: right;
}

div.fillWidthLeft span.floatRight{
  width: 130px;
}

div.fillWidthLeft span.label{
  display: inline-block;
  overflow: hidden;
}

div.fillWidthLeft span.floatRight input[type=text]{
  width: 70px;
}

/*div.fillWidthLeft span.float span.episodeCount{
  margin-top: 2px;
  margin-left: 5px;
}*/

h3.rightBar{
  margin-top: -3px;
}

div.popUpDialog input, select{
  margin-top: -3px;
  margin-right: 5px;
}

/*input[type=submit]{
  margin-top: 8px;
}*/

div.commentTextArea {
  margin-bottom: 0px;
  position: relative;
  left: -2px;
}

.smaller {
  font-size: smaller;
  margin-top: 2px;
  margin-right: 3px;
}

select{
  margin: 0px;
}

.ui-widget{
  font-size: 16px;
}

input.fullWidth{
  width: 100% !important;
}

div.errors p{
  font-size: medium;
  color: red;
}

div.noTitle .ui-dialog-titlebar{
  display: none;
}

div.submitDiv {
  margin-top: 2px;
}

div.mainContainer{
  max-width: 1050px;
  margin: 0 auto;
 }