/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a{
  color: #6677ff;
  text-decoration: none;
}

 body{
  background-color: black;
  color: #E0E0E0;
  font-size: small;
}

.listTable{
  border-collapse: collapse;
}

.listTable tr th{
  padding: 2px;
  padding-left: 6px;
}

.listTable tr td{
  border: 1px solid black;
  padding: 2px;
  padding-left: 6px;
}

tr.color1{
  background-color: #1e1e1e;
}

tr.color2{
  background-color: #323232;
}

td{
  text-align: center;
}

.left{
  text-align: left;
}

.progressForm, .ratingForm{
  display: inline;
}

.progressInput, .ratingInput{
  width: 22px;
  display: inline;
}

.commentInput{
  width: 290px;
  display: center;
}

h4{
  font-size: medium;
}

th.title{
  width: 500px;
}

th.type{
  width: 50px;
}

th.comment{
  width: 300px;
}

th.num{
  width: 30px;
}

th.rating{
  width: 45px;
}

th.progress{
  width: 70px;
}

div.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: medium;
}

div.left_bar{
  margin: 0px;
  width: 45%;
  height: 100%;
}

div.right_bar{
  margin: 0px;
  width: 55%;
  height: 100%;
}

div.search_box{
  width: 100%;
}

div.search_results{
  width: 100%;
}

div.search_box label{
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}

div.search_box span{
  display: block;
  overflow: hidden;
  padding-left: 10px;
}

div.search_box input{
  width: 100%;
}