/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a{
  color: #007934;
  text-decoration: none;
}

body{
  background-color: black;
  color: #E0E0E0;
  font-size: small;
}

.listTable{
  border-collapse: collapse;
}

.listTable tr th{
  padding: 3px;
  padding-left: 6px;
}

.listTable tr td{
  border: 1px solid black;
  padding: 3px;
  padding-left: 6px;
}

tr.color1{
  background-color: #333333;
}

tr.color2{
  background-color: #444444;
}

td{
  text-align: center;
}

.left{
  text-align: left;
}

.progressForm, .ratingForm{
  display: inline;
}

.progressInput, .ratingInput{
  width: 22px;
  display: inline;
}

.commentInput{
  width: 290px;
  display: center;
}

h4{
  font-size: medium;
}

th.title{
  width: 500px;
}

th.type{
  width: 40px;
}

th.comment{
  width: 300px;
}

th.num{
  width: 25px;
}

.smaller{
  padding: 5px;
  position: relative;
  bottom: 2px;
  font-size: smaller;

}